.tours-container {
  padding: 10px 20px;
  background: #c9c9c9;

  .title-tour {
    color: #544747;
  }

  &__controlls {
    text-align: center;
    margin: 0 auto;
  }
}

.dark {
  background: #1d262b;
  color: #fff;
}

.light {
  background: #fff;
  color: #000;
}
